@*@*<a href="https://localhost:44372/Usuarios" target="_blank">Cadastro</a>*@
@{
    ViewData["Title"] = "Usuarios";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>*@
